<div class="container">
	<div class="info-panel">
        <p>
            <strong>{{#link-to 'todo' id="todo-link"}}is mongo working?{{/link-to}}</strong>
            <strong>{{#link-to 'index' id="chart-link"}}chart 1{{/link-to}}</strong>
        </p>
        <div>
            {{pie-chart data=model}}
        </div>
	</div>
</div>